.contacts{
    background: #1F1F1F;
    margin-top: 100px;
    padding-top: 65px;

}

.contacts-body h2{
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 36px;
}

.contacts-body h3{
    font-weight: bold;
    font-size: 24px;
}

.contacts .title{
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.title img{
    margin-right: 20px;
}

.contacts .content{
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.contacts .content a{
    color: #737373;
    text-decoration: none;
    padding: 10px 0;
    width: fit-content;
}

.contacts .content a:hover {
    color: #C44900;
}

.contacts .content p{
    padding: 10px 0;
    margin: 0;
}

.contacts .content h4{
    padding: 10px 0;
}



@media (max-width: 768px) {
    .contacts {
        margin-top: 50px;
    }
    .contacts-body h3{
        font-size: 20px;
    }
    .contacts-body h2 {
        font-size: 32px;
    }
}

@media (max-width: 589px) {

}

@media (max-width: 578px) {
    .portfolio-body h3 {
        font-size: 18px;
    }
    .contacts-body h2 {
        font-size: 26px;
    }
    .contacts .title {
        padding-top: 20px;
    }
    .title img {
        margin-right: 10px;
        width: 50px;
    }
    .contacts .content {
        margin-left: 60px;
    }
    .contacts .content a, .contacts .content p  {
        padding: 5px 0;
    }
    iframe{
        height: 300px;
    }
}

@media (max-width: 375px) {
    .contacts-body h3 {
        font-size: 16px;
    }
    .contacts-body h2 {
        font-size: 22px;
    }
}
